body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: linear-gradient(to right, #fff, #ffe6f2);
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background: linear-gradient(to right, deepPink, #ff6699);
  color: white;
  text-align: center;
  padding: 25px;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.portal {
  background: white;
  padding: 30
